.header-area {
  color: #31a5ac;
}
.calculation-area {
  background-color: #f8f8f8;
}
.input-bg {
  width: 150px;
  height: 25px;
  background-color: #dcdcdc;
}
.btn-color {
  background-color: #59a5ff;
}
/* save section style */
.save-input {
  width: 100px;
  height: 25px;
  background-color: #dcdcdc;
}
.save-btn {
  background-color: #59a5ff;
  padding: 0 40px;
}

/* error display none */
#input-error{
  display: none;
}
#save-error{
  display: none;
}
#expense-error{
  display: none;
}
